.table-export-drop {
    width: 22em;
}

.table-export-drop .text {
    margin-top: 0.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2em;
}

.table-export-drop select {
    width: 8em;
}