DIV#tvcInlineContent {
    background-color:   #E4E4E4;
	border:             0px;
    box-shadow:         #444 1px 1px 2px;
}
DIV#tvcInlineInnerContent {
    border-top:         1px solid #FFFFFF;
    border-right:       1px solid #C1C1C1;
    border-bottom:      1px solid #C1C1C1;
    background-color:   #E4E4E4;
}
DIV#tvcTitleBar {
    background-color:   #E4E4E4;
}
SELECT#tvcTitleText {
    color: black;
}
INPUT#tvcTitleText2 {
    color: black;
}
SELECT#tvcPageSelect {
    color: black;
}
DIV#tvcIframeContent {
    border: 1px solid #AAAAAA;
    background-color: white;
}
DIV#tvcInlineContent {
    right: 0px;
}