.uip-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .uip-loader.uip-loading {
    opacity: 1;
    z-index: 1001; }
    .uip-loader.uip-loading .uip-loader-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
      .uip-loader.uip-loading .uip-loader-spinner:after {
        content: '';
        display: block;
        height: 2em;
        width: 2em;
        border-radius: 50%;
        border-top: 0.2em solid rgba(0, 140, 186, 0.5);
        border-right: 0.2em solid rgba(0, 140, 186, 0.5);
        border-bottom: 0.2em solid rgba(0, 140, 186, 0.5);
        border-left: 0.2em solid #008cba;
        -webkit-animation: load 0.7s infinite linear;
        animation: load 0.7s infinite linear; }
  .uip-loader .uip-loader-text {
    position: absolute;
    top: calc(50% + 2.5em);
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff; }
  .uip-loader:before {
    content: '';
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); }
  .uip-loader.uip-loading:before {
    display: block; }
  .uip-loader.uip-fullscreen:before {
    position: fixed; }

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
